
.wc-single_product_summary section.related.products {

    clear: both;
    display: none;
    width: 100%;
    float: none;

}

button.single_add_to_cart_button {

}


.wc-block-link-button {
	border:0;
	border-radius:0;
	margin:0;
	padding:0;
	vertical-align:baseline;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	letter-spacing:inherit;
	line-height:inherit;
	text-decoration:inherit;
	text-transform:inherit;
	box-shadow:none;
	display:inline;
	text-shadow:none;
	text-decoration:underline;	
}



.wc-single_product_summary section.related.products {

    clear: both;
    display: none;
    width: 100%;
    float: none;

}
 .wc-forward {

    border-bottom: 1px solid #fff;
    padding: 0.25em;
    margin-bottom: -0em;
    text-decoration: none;

}



button.single_add_to_cart_button {
  max-height: 40px;
}


a.woocommerce-button {padding:0;}


.button, #submit {


}





