// .comment-content a {
// 	word-wrap: break-word;
// }
// .bypostauthor {
// 	display: block;
// }


// .comment-meta {

//     float: none;
//     width: 100%;
//     margin-bottom: 0.5em;
//     margin-top: 2em;

// }
// .comment-meta img {

//     display: inline;
//     border: 1px solid #fff;
// }
// .comment-metadata {

//     font-size: 0.95em;
//     display: inline;

// }

// div.reply {margin-top: -0.5em;}
// img.avatar {width: 3em;
// 	margin-right: 0.5em;
// }






// h3#order_review_heading {
//     margin-top: 1.5em !important;
//     border-top: 1px solid #ccc !important;
//     padding-top: 1em !important;
// }





// h3#order_review_heading {
//     margin-top: 1.5em !important;
//     border-top: 1px solid #ccc !important;
//     padding-top: 1em !important;
// }

// //Pagination
// .pagination {
//     overflow: hidden;

//     li {
//         float: left;
//         border-right: 1px solid $white-2;

//         &:last-child {
//             border: 0;
//         }
//     }

//     a {
//         padding: 1em;
//     }
// }



// .comment-navigation,
// .posts-navigation,
// .post-navigation {

//     .site-main & {
//         margin: 0 0 1.5em;
//         overflow: hidden;
//     }

//     .nav-previous {
//         float: left;
//         width: 50%;
//         background-color: orange;
//     }

//     .nav-next {
//         float: right;
//         text-align: right;
//         width: 50%;
//     }
// }













// h3#order_review_heading {
//     margin-top: 1.5em !important;
//     border-top: 1px solid #ccc !important;
//     padding-top: 1em !important;
// }



// .comment-meta {

//     float: none;
//     width: 100%;
//     margin-bottom: 0.5em;
//     margin-top: 2em;

// }
// .comment-meta img {

//     display: inline;
//     border: 1px solid #fff;
// }
// .comment-metadata {

//     font-size: 0.95em;
//     display: inline;

// }
// div.reply {margin-top: -0.5em;}
// img.avatar {width: 3em;
//     margin-right: 0.5em;
// }
// ol.comment-list {list-style: none; 
// margin-left: 0;}
// ol.children {
//     list-style: none;
//     margin-left: 2em;
// }

// h3#order_review_heading {
//     margin-top: 1.5em !important;
//     border-top: 1px solid #ccc !important;
//     padding-top: 1em !important;
// }





// .comments-title {
//     margin-bottom:1.5em;    
// }

// .comment-metadata {
//     font-size:.95em;    
// }





// .comments-title {
//     margin-bottom:1.5em;    
// }

// .comment-metadata {
//     font-size:.95em;    
// }


