// @font-face {
//     font-family: 'latobold';
//     src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
//          url('../fonts/lato-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }




// @font-face {
//     font-family: 'latoitalic';
//     src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
//          url('../fonts/lato-italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;

// }




@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}




// @font-face {
//     font-family: 'open_sanssemibold';
//     src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
//          url('../fonts/opensans-semibold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;

// }

$font : 'open_sansregular', sans-serif;
$font-secondary : 'latoregular', sans-serif;