.tribe-events-ajax-loading {
	display: none;

}

.tribe-events-event-image img {
	width: 100%;

}
.tribe-single-event-meta {
	padding:0;
 	flex: 1;

}

.tribe-events-content {
	flex:2.5;
	padding:0 1em;

}

.tribe-events-meta-group {
	background-color: $zand;
 	padding:1em;	
}
.tribe-events-cost {
	display: inline-block;
	margin-bottom: 1.5em;
}
.tribe-events-back {
	margin-left: 1em;
}
.tribe-events-single-event-title {
	margin-top: 1.5em;
	margin-left: 1rem;

}
.fusion-row > #content {
	padding-top: 1.5em;

}
.tribe-events-schedule {
	margin-left: 1em;
}

