.main-navigation {
  clear: both;
  display: block;
  float: left;
  margin-top: 40px;
  margin-left: 160px;
  font-size: 96%;
}
@media screen and (max-width: 677px) {
  .main-navigation {
    margin-top: 30px;
    margin-left: 0;
    float: right;
    font-size: 100%;
  }
  .main-navigation .menu-toggle {
    float: right;
    margin-right: 20px;
    padding: 1em;
  }
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
}
@media screen and (max-width: 677px) {
  .main-navigation ul {
    margin-top: 50px;
  }
}
.main-navigation li {
  float: left;
  position: relative;
}
@media screen and (max-width: 677px) {
  .main-navigation li {
    padding-left: 10px;
    padding-right: 15px;
    width: 100%;
    background: #f4faeb;
  }
  .main-navigation li:last-child {
    padding-bottom: 10px;
  }
}
.main-navigation li:hover > a, .main-navigation li.focus > a {
  background-image: url("../images/background_nav_a.jpg");
  background-repeat: repeat-x;
}
@media screen and (max-width: 677px) {
  .main-navigation li:hover > a, .main-navigation li.focus > a {
    background: #dfefc3;
    color: #333;
  }
}
.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 12px 16px 6px;
}
/* line 75, ../../source/css/scss/objects/_nav.scss */
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  background-image: url("../images/background_nav_a.jpg");
  background-repeat: repeat-x;
  color: #333;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 677px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
