p.has-text-color a {
	color:inherit
}

:root .has-pale-pink-color {
	color:#f78da7
}
:root .has-vivid-red-color {
	color:#cf2e2e
}
:root .has-luminous-vivid-orange-color {
	color:#ff6900
}
:root .has-luminous-vivid-amber-color {
	color:#fcb900
}
:root .has-light-green-cyan-color {
	color:#7bdcb5
}
:root .has-vivid-green-cyan-color {
	color:#00d084
}
:root .has-pale-cyan-blue-color {
	color:#8ed1fc
}
:root .has-vivid-cyan-blue-color {
	color:#0693e3
}
:root .has-vivid-purple-color {
	color:#9b51e0
}
:root .has-white-color {
	color:#fff
}
:root .has-very-light-gray-color {
	color:#eee
}
:root .has-cyan-bluish-gray-color {
	color:#abb8c3
}
:root .has-very-dark-gray-color {
	color:#313131
}
:root .has-black-color {
	color:#000
}
